body
{   margin:0;
}
header
{   height:70px;
    display:flex;
    align-items:center;
    box-shadow:3px 3px 4px black;
}
.logo
{   padding-left:10px;
}
.maindiv
{   padding-left:25px;
}
.second
{   padding-top:10px;
    padding-left:auto;
    padding-right:auto;
    width:100%; 
    height:300px;
}
.maindiv>h1{
    padding-top:20px;
    font-family:Arial, Helvetica, sans-serif
}
.explain
{   font-family:'Courier New', Courier, monospace;
}
.imga
{   padding:15px;
}
.pic
{   width:150px;
    height:300px; 
    border-radius:9px;  
}
.star
{   width:15px;
}
.starsdisplay
{   display:flex;
    max-width:150px;
    flex-wrap:wrap;
}
.gray
{   color:gray;
}
.imga > p {
    line-height:15px; /* Adjust line-height as needed */
    font-size: 0.8em; /* Adjust font-size as needed */
    max-width: 140px;
    overflow: hidden; /* Add overflow property to prevent text overflow */
    white-space: normal; /* Change white-space property to allow wrapping */
}
.mainimga
{   display:flex;
    max-width:100%;
    flex-wrap:wrap;
    justify-content:space-evenly;
}
.soldbadge
{   background-color:white;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:3px;
    padding-right:3px;
    font-size:10px;
    position:absolute;
    margin-left:5px;
    margin-top:280px;
    border-radius:6px;
    font-weight:bold;
}